@model ShopCartVM

<div class="container">
    <div id="cart-container">
        <ul>
            @if (Model.shopCart.ListShopItems.Count == 0)
            {
                <li>Корзина пуста</li>
            }
            else
            {
                @foreach (var el in Model.shopCart.ListShopItems)
                {
                    <li>
                        @el.product.Name - @el.price руб.
                        <a asp-controller="ShopCart" asp-action="RemoveFromCart" asp-route-itemId="@el.ID" class="btn btn-danger">Удалить</a>
                    </li>
                }
            }
        </ul>
    </div>

    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>
