<html>
<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("Header")

    @RenderBody()

    @await Html.PartialAsync("Footer")

    @await Html.PartialAsync("ScriptsPartial")

    @RenderSection("Scripts", required: false)

</body>
</html>
