<footer role="contentinfo" class="site-footer">
    <div class="site-footer__top">
        <div class="site-footer__top_in">
            <div class="site-footer__top_left">
                <ul class="menu-default footer-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/menu">Меню</a></li>
                    <li><a href="/dostavka">Доставка</a></li>
                    <li><a href="/aktsii">Акции</a></li>
                </ul>
                <!-- Добавляем текст и ссылку под меню -->
                <p class="footer-rights">*Все права защищены <a href="/agreement" class="footer-agreement">Соглашение</a></p>
                
            </div>
            <div class="site-footer__top_center">
                <ul class="menu-default footer-menu">
                    <li><a href="/kontakty">Контакты</a></li>
                    <li><a href="/partnery">Партнеры</a></li>
                    <li><a href="/o-nas">О нас</a></li>
                    <li><a href="/otzyvy">Отзывы</a></li>
                </ul>
            </div>
            <div class="site-footer__top_right">
                <div class="footer-contacts">
                    <div class="footer-contacts__left">
                        <div class="footer-contacts__time">
                            <p class="footer-contacts__time_title">Режим работы:</p>
                            <p class="footer-contacts__time_body">(с 9:30 до 18:00 без выходных)</p>
                        </div>
                        <div class="footer-contacts__address">
                            <p class="footer-contacts__address_title">Адрес:</p>
                            <p class="footer-contacts__address_body">Россия, Респ. Тыва, с. Бельдир-Арыг, ул. Ленина 37</p>
                        </div>
                    </div>
                    <div class="footer-contacts__right">
                        <div class="footer-contacts__phones">
                            <p class="footer-contacts__phones_title">Телефон:</p>
                            <p class="footer-contacts__phones_body">
                                <div><a href="tel:+7 (000) 000-00-00" class="contact-link">+7 (901) 136-68-32</a></div>
                            </p>
                        </div>
                        <div class="footer-contacts__social">
                            <p class="footer-contacts__social_title">Мы в соц. сетях:</p>
                            <div class="footer-contacts__social_body">
                                <a href="https://vk.com/" target="_blank">
                                    <img class="ss" src="/img/vk.png" alt="Vkontakte" data-ll-status="loaded">
                                </a>
                                <a href="https://t.me/+m2aB8IT2jXU1ZGRi" target="_blank">
                                    <img class="ss" src="/img/tg.png" alt="Telegram" data-ll-status="loaded">
                                </a>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <img class="ss" src="/img/inst.png" alt="Instagram" data-ll-status="loaded">
                                </a>
                                <a href="https://invite.viber.com/?g2=AQBvAxXsfT4NWlK353%2BsL5c6i9Xi2s4tvYl%2F6GjDLNn1TVAPZXgGE0rKA7qrdCI2" target="_blank">
                                    <img class="ss" src="/img/vb.png" alt="Viber" data-ll-status="loaded">
                                </a>
                            </div>
                        </div>
                        <div class="footer-contacts__payments">
                            <p class="footer-contacts__payments_title">Принимаем к оплате:</p>
                            <div class="footer-contacts__payments_body">
                                <a href="https://sbp.nspk.ru/">
                                    <img class="payment" src="/img/sbp1.png" alt="СБП">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
