@model Login

<div class="auth">
    <h1>Страница входа</h1>
    <form asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-froup">
            <label asp-for="Username">Логин</label>
            <div class="col-md-5">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="form-froup">
            <label asp-for="Password">Пароль</label>
            <div class="col-md-5">
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Войти" />
    </form>
    <br />
    <p>Ещё нет аккаунта? <a href="@Url.Action("Registration", "Login")">Зарегистрироваться</a></p>
</div>

@section Scripts {
    <partial name="ScriptsPartial" />

}