@model UserProfile

<div class="profile">
    <h1>Профиль пользователя</h1>
    <form asp-action="Profile" method="post">
        <div class="form-froup">
            <label asp-for="Login"></label>
            <div class="col-md-5">
                <input asp-for="Login" readonly class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>
        <div class="form-froup">
            <label asp-for="Email"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-froup">
            <label asp-for="OldPassword">Старый пароль</label>
            <div class="col-md-5">
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-froup">
            <label asp-for="Password">Новый пароль</label>
            <div class="col-md-5">
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-froup">
            <label asp-for="ConfirmPassword">Подтвердите новый пароль</label>
            <div class="col-md-5">
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />
        <input class="btn btn-success" type="submit" value="Сохранить изменения" />
    </form>
    <br />
    @if (User.IsInRole("admin"))
    {
        <form action="@Url.Action("Admin", "Admin")" method="get">
            <button type="submit">Перейти в панель администратора</button>
        </form>
    }
    <br />
    <form asp-action="Logout" method="post">
        <input class="btn btn-secondary" type="submit" value="Выйти" />
    </form>
    <br />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptsPartial");
    }
}
