@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="fixed-container">
    <a href="@Url.Action("Index", "ShopCart")" class="icon-link1"><img src="~/img/cart-Photoroom.png" alt="Cart" /></a>
</div>

<h2>Все продукты</h2>
<h3>@Model.currentCategory</h3>
<div class="product-wrapper">
    @{
        // Используем allProducts из модели представления
        foreach (Product product in Model.allProducts)
        {
            @Html.Partial("AllProducts", product)
        }
    }
</div>